$baseBackground: #e6e7ff;
$nav: #6670ff;
$header: #0062ff;
$baseFont: "Comic Sans MS", cursive, sans-serif;
$heading: #ff6666;
$color-background: lighten($nav, 40);
$color-header: darken($header, 20);

body {
    width: 100%;
    margin: auto 0;
    background-color: $baseBackground;
    font-family: $baseFont;
}

header {
    width: 100%;
    margin: 0 auto;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 10px;
    background-color: $color-header;
    color: white;
}

.navigation {
    width: 100%;
    margin: 0 auto;
    background-color: $color-background;
    padding-bottom: .5%;
    padding-top: .5%;
}

nav ul li {
    display: inline;
    padding: 4%;
    font-size: 1.25em;
    font-family: $baseFont;
}

nav ul a:link {
    text-decoration: none;
    color: black;
}

nav ul a:visited {
    text-decoration: none;
    color: #60787F;
}

nav li a:hover {
    text-decoration: none;
    color: aliceblue;
}

.content {
    background-color: aliceblue;
    width: 80%;
    margin: 0 auto;
    margin-top: 2%;
}

.content img {
    width: 50%;
}

footer {
    width: 100%;
    margin: 0 auto;
    padding: 5px;
    //background-color: #60787F;
    //color: aliceblue;
    text-align: center;
    @extend header;
}

footer a {
    text-decoration: none;
    color: black;
    @extend header;
}

footer a:hover {
    color: aliceblue;
}

h2 {
    color: $heading;
}

@mixin content($Color:green){
   background-color: $Color;  
}